<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Дозвіл на інтернет -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="moodmap_final_gradlefix"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Google Maps API ключ -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />

    </application>
</manifest>
